{% include "base_index.html" %}
  <header class="header">
    <div class="container1">
        <div class="header__inner">
            <a class="logo" href="/">quizzeshere</a>
            <nav class="menu">
                <ul class="list">
                    <li class="list-item">
                        <a class="list-link" href="/about">О нас</a>
                        <a class="list-link" href="/profile">Профиль</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
{% block body %}{% endblock %}
