<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    <link rel="stylesheet" href="../static/css/index.css"/>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="logo" href="#">Logo</a>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">Контакты</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">Профиль</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<ul class="grid">
    <li class="red">
        <a class="first-section-left" href='/quizzes/add' >
            <img src="../static/image/plus.png" class="plus">
            <p class="right"><b>СОЗДАТЬ</b></p>
        </a>
    </li>
    <li class="green">
        <div class="inputform">
            <form method="POST" action="" name="code">
                <input type="text" name="code" placeholder="Введите код квиза" required>
                <button type="submit"></button>
            </form>
        </div>
    </li>
</ul>
<div class="first-section">
        <img src="../static/quizzes/test.jpg" width="195" class="photo">
        <div class="text-fs">
            <b>ОЧЕНЬ КРУТОЕ НАЗВАНИЕ gdfsgsdfgsdf gsdgfsdgfsdgfsg dfgsdfgsdfgsdfgsdfg</b>
        </div>
        <div class="theme-fs">MAIN THEME</div>
</div>
<ul class="second-section">
    <li>
        <div class="chart"><b>Топ месяца</b></div>
        <img src="../static/quizzes/test.jpg" width="110" class="photo-sc photo1">
        <div class="text-sc text1 nametext">
            <b>{{ monce_name1 }}</b>
        </div>
        <div class="theme-sc">{{ monce_theme1 }}</div>

        <img src="../static/quizzes/test.jpg" width="110" class="photo-sc photo2">
        <div class="text-sc text2 nametext">
            <b>{{ monce_name2 }}</b>
        </div>
        <div class="theme-sc theme1">{{ monce_theme2 }}</div>
    </li>
    <li>
        <div class="chart"><b>Топ недели</b></div>
        <img src="../static/quizzes/test.jpg" width="110" class="photo-sc photo1">
        <div class="text-sc text1 nametext">
            <b>{{ week_name1 }}</b>
        </div>
        <div class="theme-sc">{{ week_theme1 }}</div>

        <img src="../static/quizzes/test.jpg" width="110" class="photo-sc photo2">
        <div class="text-sc text2 nametext">
            <b>{{ week_name2 }}</b>
        </div>
        <div class="theme-sc theme1">{{ monce_theme2 }}</div>
    </li>
</ul>
</body>
</html>