{% extends "base_header.html" %}

{% block body %}
<ul class="grid">
    <li class="red">
        <a class="first-section-left" href='/quizzes/add' >
            <img src="../static/image/plus.png" class="plus">
            <p class="right"><b>СОЗДАТЬ</b></p>
        </a>
    </li>
    <li class="green">
        <div class="inputform">
            <form method="POST" action="" name="code">
                <input type="text" name="code" placeholder="Поиск по названию / id" required>
                <button type="submit"></button>
            </form>
        </div>
    </li>
</ul>
        <div class="container">
        <div class="carousel-container w-50 h-50 mx-auto position-relative">
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                     <div class="carousel-item active">

                        <div>
                        <img src="../static/quizzes/test.jpg" width="195" class="photo">
                        <div class="text-fs">
                            <b>{{ name_start }}</b>
                        </div>
                            <div class="theme-fs">
                                {{ theme_start }}</div>
                        </div>
                    </div>
                    </div>
                <div class="carousel-inner">
                    {% for name, theme in recomendation %}
                    <div class="carousel-item" data-interval="100">
                        <div>
                        <img src="../static/quizzes/test.jpg" width="195" class="photo">
                        <div class="text-fs">
                            <b>{{name}}</b>
                        </div>
                            <div class="text-fs">
                                <div class="theme-fs">{{theme}}</div></div>
                        </div>
                    </div></div>
                    {% endfor %}
                </div>
            </div>
        </div>


</div>
<ul class="second-section">
    <li>
        <div class="chart"><b>Топ месяца</b></div>
        <img src="../static/quizzes/test.jpg" width="110" class="photo-sc photo1">
        <div class="text-sc text1 nametext">
            <b>{{ monce_name1 }}</b>
        </div>
        <div class="theme-sc font-theme">{{ monce_theme1 }}</div>

        <img src="../static/quizzes/test.jpg" width="110" class="photo-sc photo2">
        <div class="text-sc text2 nametext">
            <b>{{ monce_name2 }}</b>
        </div>
        <div class="theme-sc theme1 font-theme">{{ monce_theme2 }}</div>
    </li>
    <li>
        <div class="chart"><b>Топ недели</b></div>
        <img src="../static/quizzes/test.jpg" width="110" class="photo-sc photo1">
        <div class="text-sc text1 nametext">
            <b>{{ week_name1 }}</b>
        </div>
        <div class="theme-sc font-theme">{{ week_theme1 }}</div>

        <img src="../static/quizzes/test.jpg" width="110" class="photo-sc photo2">
        <div class="text-sc text2 nametext">
            <b>{{ week_name2 }}</b>
        </div>
        <div class="theme-sc theme1 font-theme">{{ monce_theme2 }}</div>
    </li>
</ul>
{% endblock %}